<tr id="combine_project<%= combine_project.id %>">
<td>
<%=combine_project.id%>
</td>
  <td> 
    <% if combine_project.cover %>
    <img class="img-responsive" src="<%= combine_project.cover %>">
    <% end %>
  </td>
  <td>
    <%= combine_project.category.name %>
  </td>
  <td>
    <%= %>
  </td>
  <td>
    <%= combine_project.name %>
  </td>
  <td>
    <%= link_to(edit_backends_combine_project_path(combine_project),class: "btn btn-xs btn-warning") do %>
    <i class="fa fa-pencil"></i>
    <% end %>   
    <%= link_to(backends_combine_project_path(combine_project),class: "btn btn-xs btn-danger", format: :js, remote: true, method: :delete,data:{confirm: "確認刪除文章?"}) do %>
    <i class="fa fa-trash-o"></i>
    <% end %>     
  </td>  
</tr>