<div class="col-md-<%=params[:col]%> col-sm-6 col-xs-12 mb-30">
  <div class="blog-item clearfix border boxed">
   
    <div class="blog-media">
      <a href="/home/tickets/<%=ticket.id%>">
        <div class="pic pic1-1 bg-center" style="background-image: url(<%=ticket.cover%>)"></div>
      </a>
    </div>
    <div class="blog-item-body clearfix">
      <a href="/home/tickets/<%=ticket.id%>">
        <h6 class="blog-title one-line"><%=ticket.name%></h6>
      </a>
      <div class="cms-box ">
        <p class="two-line"><%=ticket.intro%></p>
      </div>
      <a href="/home/tickets/<%=ticket.id%>" class="blog-button">>>>&nbsp;更多</a>
    </div>
  </div>
</div>