<%= render :partial=>"/home/common/banner_title",locals:{title:"機票"}%>
<div class="main-wraper pd-50 tabs-page">
  <div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="simple-tab type-2 tab-wrapper">
					<div class="tab-nav-wrapper">
						<div  class="nav-tab  clearfix">
							<div class="nav-tab-item active">
								夏威夷
							</div>
							<div class="nav-tab-item">
								紐西蘭
							</div>
							<div class="nav-tab-item">
								巴拉望
							</div>	                                                        
						</div>
					</div>
					<div class="tabs-content tabs-wrap-style no-border  clearfix">
							<div class="tab-info active">
							  <div class="list-content fight-list clearfix">
		  						<%= render :partial=>"/home/tickets/show"%>
		  						<%= render :partial=>"/home/tickets/show"%>
		  						<%= render :partial=>"/home/tickets/show"%>
		  						<%= render :partial=>"/home/tickets/show"%>
		  						<%= render :partial=>"/home/tickets/show"%>
		  						<%= render :partial=>"/home/tickets/show"%>
  							</div>   						 						  						
  						</div>
					
							<div class="tab-info">
								<div class="list-content fight-list clearfix">
		  						<%= render :partial=>"/home/tickets/show"%>
		  						<%= render :partial=>"/home/tickets/show"%>
  							</div>
							</div>
							<div class="tab-info">
								<div class="list-content fight-list clearfix">
		  						<%= render :partial=>"/home/tickets/show"%>
		  						<%= render :partial=>"/home/tickets/show"%>
  							</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>