<section style="background-image:url('/img/bb1.png');" class="breadcrumbs">
  <div class="container">
    <div class="text-left breadcrumbs-item"><a href="/">首頁</a><i>/</i><a href="<%= home_tickets_path %>">票券</a><i>/</i><a href="#" class="last"><%=@ticket.name%></a>
      <h2><%=@ticket.name%></h2>
    </div>
  </div>
</section>
<div class="content-body">
  <div class="container page">
    <div class="alt pb-20">
      <div class="project-page">
        <div class="main single-product">
          <div class="images">
            <a href="<%=@ticket.image1%>" class="fancy">
              <div class="pic pic4-3 bg-center" style="background-image: url(<%=@ticket.image1%>);">
                <div class="links"><i class="fa fa-expand"></i></div>
              </div>
            </a>
            <div class="thumbnails clearfix">
              <div class="row row2">
              <%if @ticket.image2.present?%>
                <div class="col-xs-4">
                  <a href="<%=@ticket.image2%>" class="fancy">
                    <div class="pic pic4-3 bg-center" style="background-image: url(<%=@ticket.image2%>);">
                      <div class="links"><i class="fa fa-expand"></i></div>
                    </div2
                  </a>
                </div>   
                <%end%> 
                <%if @ticket.image3.present?%>
                <div class="col-xs-4">
                  <a href="<%=@ticket.image3%>" class="fancy">
                    <div class="pic pic4-3 bg-center" style="background-image: url(<%=@ticket.image3%>);">
                      <div class="links"><i class="fa fa-expand"></i></div>
                    </div>
                  </a>
                </div> 
                <%end%>
                <%if @ticket.image4.present?%>   
                <div class="col-xs-4">
                  <a href="<%=@ticket.image4%>" class="fancy">
                    <div class="pic pic4-3 bg-center" style="background-image: url(<%=@ticket.image4%>);">
                      <div class="links"><i class="fa fa-expand"></i></div>
                    </div>
                  </a>
                </div> 
                <%end%>   
              </div>
            </div>
          </div>
          <div class="summary clearfix">
              
            <h2 class="product-title mt-0"><%=@ticket.name%></h2>
            <div class="cws_divider mb-40"></div>
            <!-- <h4 class="text-blue">產品內容</h4>
            <div class="cms-box mb-20">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
            <h4 class="text-blue">商家介紹</h4>
            <div class="cms-box  mb-20">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              </p>
            </div> -->
            <%=raw @ticket.content%>
            
            <a href="#" class="cws-button small alt add-to-cart ">我有興趣</a>
            
          </div>
        </div>
      </div>
      <!-- 說明 -->
      <div class="mt-50 mb-50">
        <div class="title-carousel clearfix">
          <h3 class="carousel-heading">使用說明</h3>
        </div>
        <div class="cws_divider mb-50"></div>
        <div class="cms-box">
          <%=raw @ticket.article1%>
        </div>
      </div>
      <!--國籍使用限制 -->
      <div class="mt-50 mb-50">
        <div class="title-carousel clearfix">
          <h3 class="carousel-heading">國籍使用限制</h3>
        </div>
        <div class="cws_divider mb-50"></div>
        <div class="cms-box">
          <%=raw @ticket.article2%>
        </div>
      </div>
      <!--注意事項 -->
      <div class="mt-50 mb-50">
        <div class="title-carousel clearfix">
          <h3 class="carousel-heading">注意事項</h3>
        </div>
        <div class="cws_divider mb-50"></div>
        <div class="cms-box">
          <%=raw @ticket.article3%>
        </div>
      </div>
      <!--票券可領取方式 -->
      <div class="mt-50 mb-50">
        <div class="title-carousel clearfix">
          <h3 class="carousel-heading">票券可領取方式</h3>
        </div>
        <div class="cws_divider mb-50"></div>
        <div class="cms-box">
          <%=raw @ticket.article4%>
        </div>
      </div>
      <!--退換貨說明 -->
      <div class="mt-50 mb-50">
        <div class="title-carousel clearfix">
          <h3 class="carousel-heading">退換貨說明</h3>
        </div>
        <div class="cws_divider mb-50"></div>
        <div class="cms-box">
          <%=raw @ticket.article5%>
        </div>
      </div>
      <!--適用地點 -->
      <div class="mt-50 mb-50">
        <div class="title-carousel clearfix">
          <h3 class="carousel-heading">適用地點</h3>
        </div>
        <div class="cws_divider mb-50"></div>
        <div class="cms-box">
          <%=raw @ticket.article6%>
        </div>
      </div>
      <!-- 推薦 -->
      <div class="mt-50 mb-50">
        <div class="title-carousel clearfix">
          <h3 class="carousel-heading">推薦票券</h3>
        </div>
        <div class="cws_divider mb-50"></div>
        <div class="row">
          <%= render :partial=>"/home/tickets/show", collection: @sugg.first(4), as: :ticket, locals:{col: "3"}%>
        </div>
      </div>

      
      
    </div>
    
  </div>
</div>