<%= render :partial=>"/home/common/banner_title",locals:{title:"全球簽證"}%>
<div class="visa-page">
	<div class="main-wraper padd-110">
		<div class="container clearfix contry-wrapp">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3">
					<div class="second-title style-3 xs-pd0">
						<h4 class="subtitle color-dark-2-light">簽證代辦</h4>
						<h2 class="color-dark-2">國家分類</h2>
					</div>					
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9">
					<div class="row">
						<div class=" col-xs-6 col-sm-4 col-md-2">
							<a class="contry-item" href="#visa1">
								<img class="img-responsive" src="/img/theme-1/country_1.png" alt="">
								<h5>歐洲</h5>
							</a>							
						</div>
						<div class=" col-xs-6 col-sm-4 col-md-2">
							<a class="contry-item" href="#visa2">
								<img class="img-responsive" src="/img/theme-1/country_2.png" alt="">
								<h5>亞洲</h5>
							</a>							
						</div>
						<div class=" col-xs-6 col-sm-4 col-md-2">
							<a class="contry-item" href="#visa3">
								<img class="img-responsive" src="/img/theme-1/country_3.png" alt="">
								<h5>非洲</h5>
							</a>							
						</div>
						<div class=" col-xs-6 col-sm-4 col-md-2">
							<a class="contry-item" href="#visa4">
								<img class="img-responsive" src="/img/theme-1/country_4.png" alt="">
								<h5>北美洲</h5>
							</a>							
						</div>
						<div class=" col-xs-6 col-sm-4 col-md-2">
							<a class="contry-item" href="#visa5">
								<img class="img-responsive" src="/img/theme-1/country_5.png" alt="">
								<h5>南美洲</h5>
							</a>							
						</div>
						<div class=" col-xs-6 col-sm-4 col-md-2">
							<a class="contry-item" href="#visa6">
								<img class="img-responsive" src="/img/theme-1/country_6.png" alt="">
								<h5>澳洲</h5>
							</a>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="visa1" class="main-wraper bg-grey-2 pb100">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="second-title">
						<h2>歐洲地區</h2>
						<div class="no-visa">
		        	<span>免簽國家</span>
		        	<ul>
		        		<li>奧地利</li>
		        		<li>比利時</li>
		        		<li>捷克</li>
		        		<li>法國</li>
		        		<li>芬蘭</li>
		        	</ul>	
		        </div>
					</div>
				</div>
			</div>
			<div class="row">
			  <div class="top-baner arrows visa-slide">
					<div class="swiper-container offers-slider" data-autoplay="5000" data-loop="false" data-speed="500" data-slides-per-view="responsive" data-mob-slides="1" data-xs-slides="2" data-sm-slides="2" data-md-slides="4" data-lg-slides="4" data-add-slides="3">
					  <div class="swiper-wrapper">
							
<%= render :partial=>"/home/partials/country",collection: @id_cards.where(:the_group => "歐洲"), as: :id_card%>
							
					  </div>
					  <div class="pagination  poin-style-1 pagination-hidden"></div>
					</div>
		      <div class="swiper-arrow-left offers-arrow"><span class="fa fa-angle-left"></span></div>
			  	<div class="swiper-arrow-right offers-arrow"><span class="fa fa-angle-right"></span></div>
			    </div>
			</div>
		</div>
	</div>
	<div id="visa2" class="main-wraper pb100">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="second-title">
						<h2>亞洲地區</h2>
						<div class="no-visa">
		        	<span>免簽國家</span>
		        	<ul>
		        		<li>關島</li>
		        		<li>日本</li>
		        		<li>韓國</li>
		        		<li>馬來西亞</li>
		        		<li>紐西蘭</li>
		        	</ul>	
		        </div>
					</div>
				</div>
			</div>
			<div class="row">
			  <div class="top-baner arrows visa-slide">
					<div class="swiper-container offers-slider" data-autoplay="5000" data-loop="false" data-speed="500" data-slides-per-view="responsive" data-mob-slides="1" data-xs-slides="2" data-sm-slides="2" data-md-slides="4" data-lg-slides="4" data-add-slides="3">
					  <div class="swiper-wrapper">
			<%= render :partial=>"/home/partials/country",collection: @id_cards.where(:the_group => "亞洲"), as: :id_card%>
							
					  </div>
					  <div class="pagination  poin-style-1 pagination-hidden"></div>
					</div>
		      <div class="swiper-arrow-left offers-arrow"><span class="fa fa-angle-left"></span></div>
			  	<div class="swiper-arrow-right offers-arrow"><span class="fa fa-angle-right"></span></div>
			    </div>
			</div>
		</div>
	</div>
	<div id="visa3" class="main-wraper bg-grey-2 pb100">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="second-title">
						<h2>非洲地區</h2>
						<div class="no-visa">
		        	<span>免簽國家</span>
		        	<ul>
		        		<li>關島</li>
		        		<li>日本</li>
		        		<li>韓國</li>
		        		<li>馬來西亞</li>
		        		<li>紐西蘭</li>
		        	</ul>	
		        </div>
					</div>
				</div>
			</div>
			<div class="row">
			  <div class="top-baner arrows visa-slide">
					<div class="swiper-container offers-slider" data-autoplay="5000" data-loop="false" data-speed="500" data-slides-per-view="responsive" data-mob-slides="1" data-xs-slides="2" data-sm-slides="2" data-md-slides="4" data-lg-slides="4" data-add-slides="3">
					  <div class="swiper-wrapper">
				<%= render :partial=>"/home/partials/country",collection: @id_cards.where(:the_group => "非洲"), as: :id_card%>
							
					  </div>
					  <div class="pagination  poin-style-1 pagination-hidden"></div>
					</div>
		      <div class="swiper-arrow-left offers-arrow"><span class="fa fa-angle-left"></span></div>
			  	<div class="swiper-arrow-right offers-arrow"><span class="fa fa-angle-right"></span></div>
			    </div>
			</div>
		</div>
	</div>
	<div id="visa4" class="main-wraper pb100">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="second-title">
						<h2>北美洲地區</h2>
						<div class="no-visa">
		        	<span>免簽國家</span>
		        	<ul>
		        		<li>關島</li>
		        		<li>日本</li>
		        		<li>韓國</li>
		        		<li>馬來西亞</li>
		        		<li>紐西蘭</li>
		        	</ul>	
		        </div>
					</div>
				</div>
			</div>
			<div class="row">
			  <div class="top-baner arrows visa-slide">
					<div class="swiper-container offers-slider" data-autoplay="5000" data-loop="false" data-speed="500" data-slides-per-view="responsive" data-mob-slides="1" data-xs-slides="2" data-sm-slides="2" data-md-slides="4" data-lg-slides="4" data-add-slides="3">
					  <div class="swiper-wrapper">
						<%= render :partial=>"/home/partials/country",collection: @id_cards.where(:the_group => "北美洲"), as: :id_card%>
							
					  </div>
					  <div class="pagination  poin-style-1 pagination-hidden"></div>
					</div>
		      <div class="swiper-arrow-left offers-arrow"><span class="fa fa-angle-left"></span></div>
			  	<div class="swiper-arrow-right offers-arrow"><span class="fa fa-angle-right"></span></div>
			    </div>
			</div>
		</div>
	</div>
	<div id="visa5" class="main-wraper bg-grey-2 pb100">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="second-title">
						<h2>南美洲地區</h2>
						<div class="no-visa">
		        	<span>免簽國家</span>
		        	<ul>
		        		<li>關島</li>
		        		<li>日本</li>
		        		<li>韓國</li>
		        		<li>馬來西亞</li>
		        		<li>紐西蘭</li>
		        	</ul>	
		        </div>
					</div>
				</div>
			</div>
			<div class="row">
			  <div class="top-baner arrows visa-slide">
					<div class="swiper-container offers-slider" data-autoplay="5000" data-loop="false" data-speed="500" data-slides-per-view="responsive" data-mob-slides="1" data-xs-slides="2" data-sm-slides="2" data-md-slides="4" data-lg-slides="4" data-add-slides="3">
					  <div class="swiper-wrapper">
	<%= render :partial=>"/home/partials/country",collection: @id_cards.where(:the_group => "南美洲"), as: :id_card%>		
					  </div>
					  <div class="pagination  poin-style-1 pagination-hidden"></div>
					</div>
		      <div class="swiper-arrow-left offers-arrow"><span class="fa fa-angle-left"></span></div>
			  	<div class="swiper-arrow-right offers-arrow"><span class="fa fa-angle-right"></span></div>
			    </div>
			</div>
		</div>
	</div>
	<div id="visa6" class="main-wraper  pb100">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="second-title">
						<h2>澳洲地區</h2>
						<div class="no-visa">
		        	<span>免簽國家</span>
		        	<ul>
		        		<li>關島</li>
		        		<li>日本</li>
		        		<li>韓國</li>
		        		<li>馬來西亞</li>
		        		<li>紐西蘭</li>
		        	</ul>	
		        </div>
					</div>
				</div>
			</div>
			<div class="row">
			  <div class="top-baner arrows visa-slide">
					<div class="swiper-container offers-slider" data-autoplay="5000" data-loop="false" data-speed="500" data-slides-per-view="responsive" data-mob-slides="1" data-xs-slides="2" data-sm-slides="2" data-md-slides="4" data-lg-slides="4" data-add-slides="3">
					  <div class="swiper-wrapper">
			<%= render :partial=>"/home/partials/country",collection: @id_cards.where(:the_group => "澳洲"), as: :id_card%>
							
							
					  </div>
					  <div class="pagination  poin-style-1 pagination-hidden"></div>
					</div>
		      <div class="swiper-arrow-left offers-arrow"><span class="fa fa-angle-left"></span></div>
			  	<div class="swiper-arrow-right offers-arrow"><span class="fa fa-angle-right"></span></div>
			    </div>
			</div>
		</div>
	</div>
</div>
<!-- modal -->
<%= render :partial=>"/home/partials/visa_modal",collection: @id_cards, as: :id_card%>
<script type="text/javascript">
	// jquery click anchor scroll

	$(document).on('click', 'a[href^="#"]', function (event) {
	     event.preventDefault();
	     $('html, body').animate({ scrollTop: $($.attr(this, 'href')).offset().top }, 500);
	});

	//
	var url = "http://example.com/file.htm#foo";
	var hash = url.substring(url.indexOf('#')); // '#foo'
</script>