<div class="top-baner">
  <div class="arrows">
    <div class="swiper-container main-slider-6" data-autoplay="0" data-loop="1" data-speed="900" data-center="0" data-slides-per-view="1">
      <div class="swiper-wrapper">
      <%@slide.images.each_with_index do |i,index|%>
        <div class="swiper-slide <%if index == 0%>active<%end%>" data-val="<%=index+1%>">
            <div class="clip">
              <div class="bg bg-bg-chrome act" style="background-image:url(<%=i.file%>)"></div>
            </div>      
        </div>
        <%end%>
        
      </div>    
      <div class="pagination pagination-hidden poin-style-1"></div>
        <div class="arrow-wrapp arr-s-4">
        <div class="cont-1170">
          <div class="swiper-arrow-left sw-arrow"><span class="fa fa-angle-left"></span></div>
          <div class="swiper-arrow-right sw-arrow"><span class="fa fa-angle-right"></span></div>
        </div>
      </div>      
    </div>
  </div>        
</div>


<div class="main-wraper">
      
  <div class="tab-tour-header row no-padd">
  <%@ads.each do |a|%>
    <%= render :partial=>"/home/partials/categories", collection: @ads, as: :ad%>
  <%end%>

  </div>      
</div>

<div class="main-wraper padd-90">
  <div class="container">

        <div class="row">
          <div class="col-xs-12">
            <div class="second-title ">
              <h4 class="subtitle color-dr-blue-2">優質行程</h4>
              <h2>WODESY 豪德希嚴選</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <%= render :partial=>"/home/projects/show", collection: @projects, as: :project%>
         
        </div>  
  </div>
      
</div>
<div class="main-wraper padd-90">
  <img class="center-image" src="img/p6.jpg" alt="">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="second-title style2">
          <h4 class="subtitle color-white underline">專業 WODESY 豪德希</h4>
          <h3 class="color-white mb30">看見更好玩的世界，規劃最適合您的旅行體驗</h3>
          <a class="c-button b-40 bg-blue-2 hv-blue-2-o"><span>聯絡我們</span></a>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- GAL-ITEM-->
<div class="main-wraper mb100">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="second-title">
          <h4 class="subtitle color-dr-blue-2">任您挑選</h4>
          <h2>主題行程</h2>
        </div>
      </div>
    </div>
    <div class="isotope-container row row10">
      <div class="grid-sizer col-mob-12 col-xs-6 col-sm-3"></div>
      <%@cover.each do |c|%>
      <%if @cover.first == c%>
      <div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-6">
        <a class="black-hover" href="<%=c.url%>">
          <div class="img-box r-img" style="background-image: url(<%=c.file%>);"></div>   
          <div class="tour-layer delay-1"></div>
          <div class="vertical-align">
            <div class="date color-white">New Zealand</div>
            <h4 class="color-white"><b><%=c.name%></b></h4>
          </div>
        </a>
      </div>
      <%else%>
      <div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-3">
        <a class="black-hover" href="<%=c.url%>">
          <div class="img-box r-img" style="background-image: url(<%=c.file%>);"></div>  
          <div class="tour-layer delay-1"></div>
          <div class="vertical-align">
            <div class="date color-white">Hawaii</div>
            <h4 class="color-white"><b><%=c.name%></b></h4>
          </div>
        </a>
      </div>
      <%end%>
      <%end%>
      
  <!--     <div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-3">
        <a class="black-hover" href="detail.html">
          <div class="img-box r-img" style="background-image: url(/img/p3.jpg);"></div> 
          <div class="tour-layer delay-1"></div>
          <div class="vertical-align">
            <div class="date color-white">Mauritius</div>
            <h4 class="color-white"><b>模里西斯</b></h4>
          </div>
        </a>
      </div>
      <div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-3">
        <a class="black-hover" href="detail.html">
          <div class="img-box r-img" style="background-image: url(/img/p4.jpg);"></div> 
          <div class="tour-layer delay-1"></div>
          <div class="vertical-align">
            <div class="date color-white">Palawan</div>
            <h4 class="color-white"><b>巴拉望</b></h4>
          </div>
        </a>
      </div>
      <div class="item gal-item col10 col-mob-12 col-xs-6 col-sm-3">
        <a class="black-hover" href="detail.html">
          <div class="img-box r-img" style="background-image: url(/img/p5.jpg);"></div> 
          <div class="tour-layer delay-1"></div>
          <div class="vertical-align">
            <div class="date color-white">Tahiti</div>
            <h4 class="color-white"><b>大溪地</b></h4>
          </div>
        </a>
      </div>  -->               
    </div>
  </div>
</div>
<div class="main-wraper padd-90">
  <img class="center-image" src="img/p4.jpg" alt="">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="second-title style2">
          <h4 class="subtitle color-white underline">關於 WODESY 豪德希</h4>
          <h3 class="color-white mb30">海島旅遊專家，享受愜意海島時光</h3>
          <a class="c-button b-40 bg-blue-2 hv-blue-2-o"><span>聯絡我們</span></a>
        </div>
      </div>
    </div>
    
  </div>
</div>

