<aside>
  <div id="sidebar"  class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <li>
        <a href="<%= backends_path %>"> <i class="fa fa-dashboard"></i> <span>首頁</span> </a>
      </li>

      <!-- 展開式 menu -->
      <!-- <li class="sub-menu dcjq-parent-li">
        <a href="javascript:;" class="dcjq-parent <%= active(controller_name, "") %>">
          <i class="fa fa-tasks"></i>
          <span>Item</span>
          <span class="dcjq-icon"></span>
        </a>
        <ul class="sub">
          <li class="<%= active(controller_name, "") %>">
            <a href="#">
              <i class="fa fa-star"></i> <span>items</span>
            </a>
          </li>
        </ul>
      </li>  --> 
      <li>
        <a class="<%= active(controller_name, "categories") %>" href="<%= backends_categories_path %>">
          <i class="fa fa-star"></i> <span>分類管理</span>
        </a>
      </li>
      <li>
        <a class="<%= active(controller_name, "projects") %>" href="<%= backends_projects_path %>">
          <i class="fa fa-star"></i> <span>行程</span>
        </a>
      </li>
      <li class="sub-menu dcjq-parent-li">
        <a href="javascript:;" class="dcjq-parent <%= active(controller_name, "combine_projects") %>">
          <i class="fa fa-tasks"></i>
          <span>組合行程</span>
          <span class="dcjq-icon"></span>
        </a>
        <ul class="sub">
          <li <%if params[:category_id].to_i == 1%>class="active"<%end%>>
            <a href="<%=backends_combine_projects_path(:category_id => 1)%>">
              <i class="fa fa-star"></i> <span>國內</span>
            </a>
          </li>
          <li <%if params[:category_id].to_i == 2%>class="active"<%end%>>
            <a href="<%=backends_combine_projects_path(:category_id => 2)%>">
              <i class="fa fa-star"></i> <span>國外</span>
            </a>
          </li>
          <li <%if params[:category_id].to_i == 3%>class="active"<%end%>>
            <a href="<%=backends_combine_projects_path(:category_id => 3)%>">
              <i class="fa fa-star"></i> <span>海島</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="<%= active(controller_name, "contents") %>" href="<%= backends_contents_path %>">
          <i class="fa fa-star"></i> <span>最新消息</span>
        </a>
      </li>
      <li>
        <a class="<%= active(controller_name, "pages") %>" href="<%= backends_pages_path %>">
          <i class="fa fa-star"></i> <span>頁面</span>
        </a>
      </li>
       <li>
        <a class="<%= active(controller_name, "index_pics") %>" href="<%= backends_images_index_pics_path %>">
          <i class="fa fa-star"></i> <span>首頁大項封面</span>
        </a>
      </li>
      <li>
        <a class="<%= active(controller_name, "main_ads") %>" href="<%= backends_images_main_ads_path %>">
          <i class="fa fa-star"></i> <span>廣告</span>
        </a>
      </li>
      <li>
        <a class="<%= active(action_name, "index_youtube") %>" href="/backends/system/index_youtube">
          <i class="fa fa-star"></i> <span>首頁影片</span>
        </a>
      </li>
      <li>
        <a class="<%= active(controller_name, "group_image") %>" href="<%= backends_group_images_path %>">
          <i class="fa fa-star"></i> <span><%= GroupImage.model_name.human %></span>
        </a>
      </li>
      <li>
        <a class="<%= active(controller_name, "admin") %>" href="<%= edit_admin_path %>">
          <i class="fa fa-star"></i> <span><%= Admin.model_name.human %></span>
        </a>
      </li>
      <li >
        <a <%if action_name == "edit"%>class="<%= active(controller_name, "system") %>"<%end%> href="<%= edit_backends_system_path %>" >
          <i class="fa fa-star"></i> <span><%= System.model_name.human %></span>
        </a>
      </li>
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>