<div class="form-group">
  <label class="col-lg-3 col-sm-3 control-label"><%= Category.model_name.human %></label>
  <div class="col-lg-9">
    <select name="<%= parameter %>[category_id]" class="form-control">
      <% categories.main.each do |category| %>
      <option value="<%= category.id %>" <%= selected(current_id,category.id) %>>
        <%= category.name %>  
      </option>
      <% category.children.each do |child| %>
        <option value="<%= child.id %>" <%= selected(current_id,child.id) %>>
          [<%= category.name %>]  <%= child.name %>  
        </option>
      <% end %>
      <% end %>
    </select>
  </div>
</div>