<div class="form-group">
  <label class="col-lg-3 col-sm-3 control-label"><%= Image.human_attribute_name('name') %></label>
  <div class="col-lg-9">
    <input type="text" class="form-control" name="image[name]" value="<%= slide.name %>" />
  </div>
</div>
<div class="form-group" >
  <label class="col-lg-3 col-sm-3 control-label"><%= Image.model_name.human %></label>
  <div class="col-lg-4">
    
    <input class="dropify" data-default-file="<%= slide.file %>" type="file" name="image[file]" placeholder="圖片上傳"/>
  </div>
  <!-- <div class="col-lg-5">
    <img style="width: 100%;" class="review-image" src="http://www.placehold.it/400x300/EFEFEF/AAAAAA&amp;text=no+image">
  </div> -->
</div>
<div class="form-group">
  <label class="col-lg-3 col-sm-3 control-label"><%= Image.human_attribute_name('url') %></label>
  <div class="col-lg-9">
    <input type="text" class="form-control" name="image[url]" value="<%= slide.url %>" />
  </div>
</div>
<div class="form-group">
  <label class="col-lg-3 col-sm-3 control-label"></label>
  <div class="col-lg-9">
    <button class="btn btn-danger">
      <%= t 'backends.submit' %>
    </button>
  </div>
</div>
<script type="text/javascript">
	$(document).on('change', '#change-file',function(){
		readHeadURL(this);
	})

	function readHeadURL(input){
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			console.log(e.target.result);
			reader.onload = function (e) {
				$('.review-image').attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}
</script>