<section style="background-image:url('/img/bb1.png');" class="breadcrumbs">
  <div class="container">
    <div class="text-left breadcrumbs-item"><a href="/">首頁</a><i>/</i><a href="#" class="last">最新消息</a>
      <h2>最新消息</h2>
    </div>
  </div>
</section>

<div class="content-body">
      <div class="container page">
        <div class="row">
          <div class="col-md-8 mb-md-140">
            <!-- Blog Post image-->
            <div class="blog-item alt pb-20">
              
              <div class="pic"><img class="width100" src="<%=@content.cover%>" alt></div>
              
              <div class="blog-item-data clearfix">
                <h3 class="blog-title"><%=@content.name%></h3>
                <p class="post-info"><%=@content.show_date%></p>
              </div>
              <div class="cms-box">
                <%=raw @content.content%>
              </div>  
             
              <!-- Post Tags-->
              <div class="blog-tags mb-40">
                
                <div class="blog-nav-share mt-lg-0"> 
                <a target="_blank" href="https://twitter.com/intent/tweet?text=<%=@content.name%>&via=<%=request.url%>" class="cws-social fa fa-twitter"></a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=<%=request.url%>" target="_blank" class="cws-social fa fa-facebook"></a>
                <a target="_blank" href="https://plus.google.com/share?url={<%=request.url%>}" class="cws-social fa fa-google-plus"></a>
                <!-- <a target="_blank" href="#" class="cws-social fa fa-linkedin"></a> -->
                </div>
              </div>
            </div>
           
          
          </div>
          <div class="col-md-4 sidebar">
            <%= render :partial=>"/home/news/list"%>
          </div>
        </div>
      </div>
    </div>