<%= render :partial=>"/home/common/banner_title",locals:{title:"巴拉望-住宿"}%>
<div class="main-wraper pd-50 tabs-page">
  <div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="simple-tab type-2 tab-wrapper">
					<div class="tab-nav-wrapper">
						<div  class="nav-tab  clearfix">
							<div class="nav-tab-item active">
								五星酒店
							</div>
							<div class="nav-tab-item">
								四星酒店
							</div>
							<div class="nav-tab-item">
								民宿
							</div>	                                                        
						</div>
					</div>
					<div class="tabs-content tabs-wrap-style no-border clearfix">
							<div class="tab-info active">
							  <div class="row">
							  	<%= render :partial=>"/home/projects/show",locals:{pic:"h2.jpg"}%>
							  	<%= render :partial=>"/home/projects/show",locals:{pic:"h1.jpg"}%>
							  	<%= render :partial=>"/home/projects/show",locals:{pic:"h3.jpg"}%>
							  	<%= render :partial=>"/home/projects/show",locals:{pic:"p3.jpg"}%>
							  	<%= render :partial=>"/home/projects/show",locals:{pic:"h2.jpg"}%>
							  	<%= render :partial=>"/home/projects/show",locals:{pic:"h1.jpg"}%>
							  	<%= render :partial=>"/home/projects/show",locals:{pic:"h3.jpg"}%>
							  	<%= render :partial=>"/home/projects/show",locals:{pic:"p3.jpg"}%>
				
							  </div>
							</div>

							<div class="tab-info">
								<div class="row">
							  	<%= render :partial=>"/home/projects/show",locals:{pic:"h2.jpg"}%>
							  	<%= render :partial=>"/home/projects/show",locals:{pic:"h1.jpg"}%>
							  	<%= render :partial=>"/home/projects/show",locals:{pic:"h3.jpg"}%>
							  	<%= render :partial=>"/home/projects/show",locals:{pic:"p3.jpg"}%>
							  
							  </div>
							</div>
							<div class="tab-info">
								<div class="row">
							  	<%= render :partial=>"/home/projects/show",locals:{pic:"h2.jpg"}%>
							  	<%= render :partial=>"/home/projects/show",locals:{pic:"h1.jpg"}%>
							  	<%= render :partial=>"/home/projects/show",locals:{pic:"h3.jpg"}%>
							  	<%= render :partial=>"/home/projects/show",locals:{pic:"p3.jpg"}%>
							  
							  </div>
							</div>
							
				
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>