<header class="color-1 hovered menu-3">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="nav"> 
            <a href="/" class="logo">
              <img src="/img/logo.png" alt="Wodesy">
            </a>
            <div class="nav-menu-icon">
          <a href="#"><i></i></a>
        </div>
          <nav class="menu">
          <ul>
          <!-- <li class="type-1">
            <a href="/">首頁</a>
          </li> -->
          <li class="type-1"><a href="#">精緻海島<span class="fa fa-angle-down"></span></a>
            <ul class="dropmenu">
              <%@cat1.each do |c|%>
              <li>
                <a><%=c.name%><span class="fa fa-chevron-right"></span></a>
                 <ul class="dropmenu">
                 <%c.children.each do |cc|%>
                  <li><a href="/home/projects?category=<%=cc.id%>"><%=cc.name%></a></li>
                  <%end%>     
                  <li><a href="/home/backpackers?category=<%=c.id%>">自由行</a></li>         
                </ul>
              </li>
              <%end%>
            </ul>
          </li>
          <li class="type-1"><a href="#">品味海島<span class="fa fa-angle-down"></span></a>
            <ul class="dropmenu">
              <%@cat2.each do |c|%>
              <li>
                <a><%=c.name%><span class="fa fa-chevron-right"></span></a>
                 <ul class="dropmenu">
                 <%c.children.each do |cc|%>
                  <li><a href="/home/projects?category=<%=cc.id%>"><%=cc.name%></a></li>
                  <%end%>     
                  <li><a href="/home/backpackers?category=<%=c.id%>">自由行</a></li>        
                </ul>
              </li>
              <%end%>
              
            </ul>
          </li>
          <li class="type-1"><a href="#">風情海島<span class="fa fa-angle-down"></span></a>
            <ul class="dropmenu">
               <%@cat3.each do |c|%>
              <li>
                <a><%=c.name%><span class="fa fa-chevron-right"></span></a>
                 <ul class="dropmenu">
                 <%c.children.each do |cc|%>
                  <li><a href="/home/projects?category=<%=cc.id%>"><%=cc.name%></a></li>
                  <%end%>     
                  <li><a href="/home/backpackers?category=<%=c.id%>">自由行</a></li>        
                </ul>
              </li>
              <%end%>

            </ul>
          </li>
          <li >
            <a href="/home/tickets">機票</a>
          </li>
          <li >
            <a href="/home/doc">全球簽證</a>
          </li>
          <li >
            <a href="/home/news">最新消息</a>
          </li>
          <li >
            <a href="/home/contact">聯絡我們</a>
          </li>
          <li >
            <a href="/home/about">關於我們</a>
          </li>
        </ul>
       </nav>
       </div>
         </div>
      </div>
   </div>
</header>