<section style="background-image:url('/img/bb1.png');" class="breadcrumbs">
  <div class="container">
    <div class="text-left breadcrumbs-item"><a href="/">首頁</a><i>/</i><a href="#" class="last">自由行</a>
      <h2><%=@combine.category.name%>自由行</h2>
    </div>
  </div>
</section>
<div class="content-body">
  <div class="container pt-60 project-page">
    <div class="row">
      <!-- content-->
      <div class="col-md-12">
        <div class="main single-product">
          <!-- 圖片-->
          <div class="images">
            <a href="<%=@combine.cover%>" class="fancy">
              <div class="pic pic4-3 bg-center" style="background-image: url(<%=@combine.cover%>);">
                <div class="links"><i class="fa fa-expand"></i></div>
              </div>
            </a>
            <div class="thumbnails clearfix">
            	<div class="row row2">
              <%if @combine.image1.present?%>
            		<div class="col-xs-4">
            			<a href="<%=@combine.image1%>" class="fancy">
		                <div class="pic pic4-3 bg-center" style="background-image: url(<%=@combine.image1%>);">
			                <div class="links"><i class="fa fa-expand"></i></div>
			              </div>
		              </a>
            		</div>
              <%end%>		
              <%if @combine.image2.present?%>
            		<div class="col-xs-4">
            			<a href="<%=@combine.image2%>" class="fancy">
		                <div class="pic pic4-3 bg-center" style="background-image: url(<%=@combine.image2%>);">
			                <div class="links"><i class="fa fa-expand"></i></div>
			              </div>
		              </a>
            		</div>	
              <%end%>
              <%if @combine.image3.present?%>	
            		<div class="col-xs-4">
            			<a href="<%=@combine.image3%>" class="fancy">
		                <div class="pic pic4-3 bg-center" style="background-image: url(<%=@combine.image3%>);">
			                <div class="links"><i class="fa fa-expand"></i></div>
			              </div>
		              </a>
            		</div>	
              <%end%>	
            	</div>
						</div>
          </div>
         	<!-- 行程-->
          <div class="summary clearfix">
            
            <h2 class="product-title mt-0"><%=@combine.name%>
            
            </h2>
            
            <div class="review-status2">
              <div><i class="fa fa-eye"></i>&nbsp;&nbsp;<%=@combine.impressionist_count%>人看過</div>
              <div><%=@combine.day%>日</div>
            </div>
            <ul class="prize-issue">
            <%if @combine.price1_mark%>
              <li><span>住宿＋交通</span><div class="shop-price m-icon"><%=@combine.price1%></div></li>
            <%end%>
            <%if @combine.price2_mark%>
              <li><span>住宿＋行程</span><div class="shop-price m-icon"><%=@combine.price2%></div></li>
            <%end%>
            <%if @combine.price3_mark%>
              <li><span>行程＋交通</span><div class="shop-price m-icon"><%=@combine.price3%></div></li>
            <%end%>
            <%if @combine.price4_mark%>
              <li><span>住宿＋交通＋住宿</span><div class="shop-price m-icon"><%=@combine.price4%></div></li>
            <%end%>
            </ul>
            <a href="/home/contact?word=<%=@combine.name%>#contact" class="cws-button small alt">我有興趣</a>
          


          
          </div>
          
          <!-- 內容 -->
          <div class="tabs mt-30 mb-50">
            <div class="block-tabs-btn clearfix">
              <div data-tabs-id="tabs1" class="tabs-btn active">行程</div>
              <div data-tabs-id="tabs2" class="tabs-btn ">交通</div>
              <div data-tabs-id="tabs3" class="tabs-btn ">住宿</div>
              <div data-tabs-id="tabs4" class="tabs-btn ">說明</div>
            </div>
           
            <div class="tabs-keeper">
              <!-- tabs container-->
              <div data-tabs-id="cont-tabs1" class="container-tabs active">
                <div class="cms-box">
                	<div class="row products">
                    <%= render :partial=>"/home/projects/bp_show", collection: @pro1, as: :project%>
                   
                  </div>
                </div>
              </div>
              <div data-tabs-id="cont-tabs2" class="container-tabs">
                <div class="cms-box">
                  <div class="row products">
                    <%= render :partial=>"/home/projects/bp_show", collection: @pro2, as: :project%>
                  </div>
                </div>
              </div>
              <div data-tabs-id="cont-tabs3" class="container-tabs">
                <div class="cms-box">
                  <div class="row products">
                    <%= render :partial=>"/home/projects/bp_show", collection: @pro3, as: :project%>
                  </div>
                </div>
              </div>
              <div data-tabs-id="cont-tabs4" class="container-tabs">
                <div class="cms-box">
                  <h5>說明</h5>
                  <%=raw @combine.content%>
                </div>
              </div>
             
            </div>
          </div>
          
        </div>
        
       
      </div>
    </div>
  </div>
</div>