<!DOCTYPE html>
<html>
  <head>
    <title>樺一旅行社</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/logo-icon.png"/>

    <%= display_meta_tags %>
    <%= stylesheet_link_tag 'home' %>
    <%= javascript_include_tag 'home' %>
    <%= csrf_meta_tags %>
    
  </head>
  <body>
    <%= render :partial => "/backends/partials/toastr" %>
    <%= render :partial =>"/home/common/header"%>
    <%= yield%>
    <%= render :partial =>"/home/common/footer"%>
    
    <div id="scroll-top"><i class="fa fa-angle-up"></i></div>
    
  </body>
</html>